*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* =================================================== */
header{
    height: 100%;
    width: 100%;
    min-height: 1550px;
}
/* =================================================== */
.bd{
    
    position: relative;
    width: 1440px;
    height: 2880px;
    background: #5865F2;
}
.had{
    z-index: 5;
    position: absolute;
    width: 778px;
    height: 113px;
    left: 45px;
    top: 255px;

    font-family: 'Inter';
    font-style: italic;
    font-weight: 800;
    font-size: 30px;
    line-height: 36px;

    color: #FFFFFF;
}
/* =================================================== */
.logo img{
    z-index: 1;
    width: 213px;
    height: 340px;
    position: absolute;
    left: 43px;
    top: -50px;
}
/* =========================== */
.title{
    z-index: 1;
    position: absolute;
    width: 347px;
    height: 92px;
    left: 279px;
    top: 110px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 60px;
    line-height: 36px;
    color: #FFFFFF;
}
/* =================================================== */
.info_bx{
    width: 1905px;
    height: 800px;
    z-index: 1;
    position: absolute;
    left: 0%;
    right: -40.57%;
    top: 30%;
    bottom: 38.63%;

    background: #FFFFFF;
}
/* =========================== */
.txts{
    position: absolute;
    width: 1013px;
    height: 145px;
    left: 440px;
    top: 29px;

    font-family: 'Inter';
    font-style: italic;
    font-weight: 800;
    font-size: 45px;
    line-height: 54px;
    text-align: center;

    color: #2C2F32;
}
/* =================================================== */
.bx_1{
    z-index: 2;
    position: absolute;
    width: 281px;
    height: 496px;
    left: 50px;
    top: 1071px;

    background: linear-gradient(180deg, #FFB1B1 63.02%, rgba(255, 177, 177, 0) 100%);
    border-radius: 30px;
}
/* =========================== */
.bx_2{
    z-index: 2;
    position: absolute;
    width: 281px;
    height: 496px;
    left: 381px;
    top: 1071px;

    background: linear-gradient(180deg, #FFF59C 58.57%, rgba(255, 245, 156, 0) 100%);
    border-radius: 30px;
}
/* =========================== */
.bx_3{
    z-index: 2;
    position: absolute;
    width: 281px;
    height: 496px;
    left: 710px;
    top: 1071px;

    background: linear-gradient(180deg, #98FF8F 90.04%, rgba(152, 255, 143, 0) 100%);
    border-radius: 30px;
}
/* =========================== */
.bx_4{
    z-index: 2;
    position: absolute;
    width: 281px;
    height: 496px;
    left: 1039px;
    top: 1071px;

    background: linear-gradient(180deg, #63A6FF 78.12%, rgba(99, 166, 255, 0) 100%);
    border-radius: 30px;
}
/* =========================== */
.bx_5{
    z-index: 2;
    position: absolute;
    width: 478px;
    height: 496px;
    left: 1370px;
    top: 1071px;

    background: linear-gradient(180deg, #FFB1B1 63.02%, rgba(255, 177, 177, 0) 100%);
    border-radius: 30px;
}
/* =================================================== */
.foot{
    background: #FFFFFF;
    width: 1905px;
    height: 200px;
    position: relative;
    bottom: 500px;

}
/* =================================================== */
.bx_1 p{
    position: absolute;
    left: 0%;
    right: 0%;
    top: 5.78%;
    bottom: 75.08%;

    font-family: 'Inter';
    font-style: italic;
    font-weight: 800;
    font-size: 23px;
    line-height: 28px;
    text-align: center;

    color: #2C2F32;
}
/* =========================== */
.bx_2 p{
    position: absolute;
    left: 0%;
    right: 0%;
    top: 5.78%;
    bottom: 75.08%;

    font-family: 'Inter';
    font-style: italic;
    font-weight: 800;
    font-size: 23px;
    line-height: 28px;
    text-align: center;

    color: #2C2F32;
}
/* =========================== */
.bx_3 p{
    position: absolute;
    left: 0%;
    right: 0%;
    top: 5.78%;
    bottom: 75.08%;

    font-family: 'Inter';
    font-style: italic;
    font-weight: 800;
    font-size: 23px;
    line-height: 28px;
    text-align: center;

    color: #2C2F32;
}
/* =========================== */
.bx_4 p{
    position: absolute;
    left: 0%;
    right: 0%;
    top: 5.78%;
    bottom: 75.08%;

    font-family: 'Inter';
    font-style: italic;
    font-weight: 800;
    font-size: 23px;
    line-height: 28px;
    text-align: center;

    color: #2C2F32;
}
/* =========================== */
.bx_5 p{
    position: absolute;
    left: 0%;
    right: 0%;
    top: 5.78%;
    bottom: 75.08%;
    
    font-family: 'Inter';
    font-weight: 800;
    font-size: 50px;
    line-height: 28px;
    text-align: center;
    
    color: #2C2F32;
}
/* =================================================== */
.bx_1 .bxgeral{
    z-index: 3;
    position: absolute;
    left: 3.56%;
    right: 3.56%;
    top: 15.32%;
    bottom: 38.91%;

    background: #424549;
    border-radius: 50px;
}
/* =========================== */
.bx_2 .ft_prf{
    z-index: 3;
    position: absolute;
    left: 3.56%;
    right: 3.56%;
    top: 15.32%;
    bottom: 38.91%;

    background: #424549;
    border-radius: 50px;
}
/* =========================== */
.bx_3 .divft{
    z-index: 3;
    position: absolute;
    left: 3.56%;
    right: 3.56%;
    top: 15.32%;
    bottom: 50.91%;

    background: #424549;
    border-radius: 50px;

}
/* =========================== */
.bx_3 .divft2{
    z-index: 3;
    position: absolute;

    left: 3.56%;
    right: 3.56%;
    top: 52.90%;
    bottom: 10.91%;

    background: #424549;
    border-radius: 50px;
}
/* =========================== */
.bx_4 .div1{
    z-index: 3;
    position: absolute;
    left: 3.56%;
    right: 3.56%;
    top: 15.32%;
    bottom: 50.91%;

    background: #424549;
    border-radius: 50px;
}
/* =========================== */
.bx_4 .div2{
    z-index: 3;
    position: absolute;

    left: 3.56%;
    right: 3.56%;
    top: 52.90%;
    bottom: 10.91%;

    background: #424549;
    border-radius: 50px;
}
/* =================================================== */
.bx_4 .div2 p, .div1 p{
    top: 10%;
    left: 8%;
    color: #FFFFFF;
}
/* =========================== */
.bx_4 .div1 .number_apoio{
    background: none;
}
/* =================================================== */
.bx1{
    position: absolute;
    width: 71px;
    height: 71px;
    left: 21px;
    top: 18px;
    border-radius: 100%;
}
/* =========================== */
.bx2{
    position: absolute;
    width: 71px;
    height: 71px;
    left: 21px;
    top: 135px;
    border-radius: 100%;
}
/* =================================================== */
.loli{
    height: 60px;
    width: 60px;
    border-radius: 100%;
}
/* =================================================== */
.bx_1 .textmens{
    position: absolute;
    width: 89px;
    height: 37px;
    left: 60px;
    top: 0px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;

    color: #FFFFFF;
}
/* =================================================== */
.bx_1 .mens_us{
    position: absolute;
    width: 180px;
    height: 37px;
    left: 73px;
    top: 28px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;

    color: #9d9d9d;
}
/* =========================== */
.bx_2 .ft_prf2{
    position: absolute;
    width: 138px;
    height: 133px;
    left: 61px;
    top: 11px;

    background: #424549;
    border-radius: 100px;
}
/* =========================== */
.bx_2 .ft_prf2 .img_prf{
    position: absolute;
    width: 129px;
    height: 120px;
    left: 5px;
    top: 0px;
    border-radius: 100%;
}
/* =========================== */
.bx_2 .textprf{
    position: absolute;
    width: 108px;
    height: 31px;
    left: 76px;
    top: 144px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
}
/* =========================== */
.bx_2 .textprf2{
    position: absolute;
    width: 112px;
    height: 24px;
    left: 76px;
    top: 181px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    color: #CDCDCD;
}
/* =================================================== */
.bx_3 .divft .img_bx_3{
    position: absolute;
    width: 260px;
    height: 168px;
    left: 1px;
    top: 0px;
    border-radius: 50px;
}

.bx_3 .divft2 .img_bx_3{
    position: absolute;
    width: 260px;
    height: 180px;
    left: 1px;
    top: 0px;
    border-radius: 50px;
}
/* =================================================== */
.bx_4 .div1 .foto,.div2 .foto{
    z-index: 4;
    position: absolute;
    width: 71px;
    height: 71px;
    left: 20px;
    top: 12px;
    border-radius: 100%;
}
/* =================================================== */
.bx_5 .div3{
    z-index: 3;
    overflow: hidden;
    position: absolute;
    left: 3.56%;
    right: 3.56%;
    top: 15.32%;
    bottom: 30.40%;
    border-radius: 50px;
    background-color: black;
    border-top: 2px solid black;
    border-left: 5px solid black;
    border-right: 5px solid black;
    border-bottom: 2px solid black;
}
/* =========================== */
.bx_5 .div3 video{
    z-index: 4;
    overflow: hidden;
    left: 40rem;
    height: fit-content;
    width: fit-content;
}
/* =========================== */
.bx_5 .assinar{
    border: none;
    background-color: #2C2F32;
    border-radius: 60px;
    height: 40px;
    width: 200px;
    z-index: 3;
    position:absolute;
    
    left: 135px;
    bottom: 100px;
    color: white;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor:pointer;
}
/* =========================== */
.bx_5 .assinar:hover{
    background-color: white;
    color: black;
}
.bx_5 .assinar:active{
    background-color: black;
    color: white;
}
.bx_5 .assinar{
    transition: all 0.2s ease-in-out;
}
/* =================================================== */
.formulario .botao4:hover{
    background-color: white;
    color: black;
}
.formulario .botao4:active{
    background-color: black;
    color: white;
}
.formulario .botao4{
    transition: all 0.2s ease-in-out;
}
.formulario .botao4{
    border: none;
    background-color: #2C2F32;
    border-radius: 60px;
    height: 40px;
    width: 200px;
    z-index: 3;  
    position:absolute;
    left: 135px;
    bottom: 1px;
    color: white;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor:pointer;
    bottom: -260px;
}
/* =========================== */
.formulario input{
    background-color: transparent;
    border-bottom:2px solid #2C2F32;
    outline: hidden;
    outline-width: 0;
    height: 40px;
    width: 490px;
    margin-left:10px ;
    border-top: hidden ;
    border-left: hidden;
    border-right: hidden;

    top:50px;
    color: rgb(219, 219, 219);
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 42px;
}
/* =========================== */
.formulario label{
    margin-left: 50px;
    color: white;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 42px;
}
/* =========================== */
.formulario button{
    position: absolute;
    top: 2820px;
}
/* =========================== */
.formulario .nome{
    position: absolute;
    top: 2670px;
    z-index: 5;
}
/* =========================== */
.formulario .email{
    position: absolute;
    top: 2760px;
    z-index: 5;
}
/* =========================== */
.formulario h1{
    margin-left: 100px;
    position: absolute;
    top: 2600px;
    z-index: 5;
}
/* =================================================== */
.down-link{
    z-index: 1;
    position: absolute;
    width: 238px;
    height: 54px;
    left: 1650px;
    top: 140px;
}
.foot{
    position: absolute;
    bottom: auto;
}
/* =================================================== */
.botao2{
    z-index: 3;
    padding: 30px;
    height: 80px;
    width: 600px;
    position: absolute;
    top: 750px;
    left:250px;
    border-radius: 50px;
    border: none;
    cursor:pointer;
    color: #2C2F32;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    line-height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
/* =================================================== */
.botao3{
    z-index: 3;
    padding: 30px;
    height: 80px;
    width: 600px;
    position: absolute;
    top: 750px;
    left: 1053px;
    border-radius: 50px;
    border: none;
    cursor:pointer;
    background-color: #2C2F32;
    color: white;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    line-height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
/* =================================================== */
.botao3:hover{
    background-color: white;
    color: black;
}
.botao3:active{
    background-color: black;
    color: white;
}
.botao3{
    transition: all 0.2s ease-in-out;
}
.botao2:hover{
    background-color:#2C2F32;
    color: white;
}
.botao2:active{
    background-color: white;
    color: #2C2F32;
}
.botao2{
    transition: all 0.2s ease-in-out;
}
/* =================================================== */
.bt_download{
    height: 50px;
    width: 50px;
    z-index: 3;
    padding: 30px;
    border: none;
    position: absolute;
    top: 750px;
}
/* ========================================================================================================================================================= */
.lg, .lg1, .lg2, .lg3, .lg4, .lg5, .lg6, .lg7, .lg8, .lg9, .lg10{
    border: 1px solid black;
}
/* ========================================================================================================================================================= */
/* =================================================== */
.lg{ 
    position: absolute;
    left: -100%;
    right: 69.5%;
    top: 35.83%;
    bottom: 47.89%;
   
    transform: rotate(-44.97deg);
}
/* =========================== */
.lg1{
    position: absolute;
    left: 75.68%;
    right: -5.8%;
    top: 47.88%;
    bottom: 49.49%;
    transform: rotate(-75.50deg);
}
/* =========================== */
.lg2{
    position: absolute;
    left: 1.09%;
    right: 1%;
    top: 3.99%;
    bottom: 90.77%;
    transform: rotate(-130deg);
}
/* =========================== */
.lg3{
    position: absolute;
    left: 21.87%;
    right: 63.59%;
    top: 50.42%;
    bottom: 30.23%;
}
/* =========================== */
.lg4{
    position: absolute;
    left: 56.21%;
    right: 36.07%;
    top: 69.11%;
    bottom: 28.79%;
}
/* =========================== */
.lg5{
    position: absolute;
    left: 18.2%;
    right: 39.39%;
    top: 79.97%;
    bottom: 16%;
}
/* =========================== */
.lg6{
    position: absolute;
    left: 90.16%;
    right: -10.02%;
    top: 70.96%;
    bottom: 23.69%;
    transform: rotate(33.04deg);
}
/* =========================== */
.lg7{
    position: absolute;
    left: 75.53%;
    right: 15.89%;
    top: 79.57%;
    bottom: 0.03%;
}
/* =========================== */
.lg8{
    position: absolute;
    left: 99.94%;
    right: -19.87%;
    top: 21.92%;
    bottom: 58.84%;
}
/* =========================== */